body {
    background-color: rgba(19, 19, 19, 0.753);
}

.wrap {
    padding: 20px;
    margin: 0 auto;
    width: 600px;
    background-color: rgb(199, 224, 224);
    border: 3px solid;
}

#form {
    padding: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

#todo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#inputText {
    padding: 0 5px;
    border: 3px solid;
    border-radius: 5px;
    width: 600px;
    height: 30px;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

button {
    border: 3px solid;
    border-radius: 5px;
    font-weight: bold;
    background-color: darkslateblue;
    width: 150px;
    height: 40px;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    padding: 10px;
    border: 3px solid;
    cursor: pointer;
    transition-duration: 0.3s;
}

.card_done {
    background-color: lightgreen;
}

.btnDelete {
    background-color: red;
}

.btnDone {
    background-color: green;
}

.btnEdit {
    background-color: yellow;
}

#modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    height: 200px;
    width: 500px;
    border: 1px solid;
    padding: 10px;
    top: -250px;
    left: calc(50% - 250px);
    transition: 0.3s;
    background-color: white;
}

#modal.visible {    
    top: calc(50% - 100px);
    transition: 0.3s;
}

#modal > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#modal > form > input {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    outline: none;
}

#btnClose {
    position: absolute;
    right: 10px;
    top: 10px; 
    color: red;
    font-size: x-large;
    cursor: pointer;
}